#imagemtop{
    float: left;
    width: 100%;
}

body{
    display: inline;
    background-color: darkslategray
}

nav{
    float: left;
    width: 15%;
    background-color: gray;
    display: inline;
    height: 765px;
}

fieldset{
    background-color: white;
    display: inline-block;
    width: 200px;
    height: 320px;
}

#loged{
    float: left;
    width: 15%;
    background-color: gray;
    display: inline;
    height: 974px
}

ul{
    list-style-type: none;
}

li a{
    display: block;
    color: #000;
    text-decoration: none;
}

li a:hover{
    background-color: #555;
    color: white;
}

td{
    color: blue;
}

#comment{
    color: white;
}
